code/python_gbdt/.git.bak/
code/python_gbdt/data/src/
code/python_gbdt/thesis/
code/python_gbdt/meetings/slides/
code/python_gbdt/results/synthetic/

code/stuff/github_gbdts/DPBoost/

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/.ipynb_checkpoints/

# lyx autosave file
**/*.lyx[#]

# gdb
**/.gdb_history

# code stuff
**/.vscode/
**/run
**/objs/
**/massif.out.*
*~
*.o
*.so

# datasets
**/YearPredictionMSD.txt*
**/YearPredictionMSD.train
**/YearPredictionMSD.test

# logs
code/verification/outputs/*.log
code/python_gbdt/verification/verification_logs/*.log
code/cpp_gbdt/verification_logs/*.log

vtune/
meetings/
resources/chapters/
resources/notes/
resources/writing/
stuff/
